@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
margin: 0px;
background-color: #161622;
font-family: 'Inter', sans-serif;
}
.main{
  background-color: #161622;
  width: 100%;
  height: 100vh;
  color: white;
  display: grid;
  text-align: center; 
   /* align-items: center; */
}
.container {
  width: 100% ;
  height: 100vh;
  background-color: #1F1F2F;
  padding: 5px
}
.icon{
  display: flex;
  justify-content: center;
}
.logo{
  display: grid;
  justify-content: center;
  align-content: space-between;
  height:180px;
  margin-top: 20px;
}
.tabs{
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}
.tab{
  font-size: 12px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.tab > * {
  vertical-align: middle;
}
.chat-container {
  position: relative;
  height: calc(100vh - 130px);
  padding: 30px 100px;
  border-radius: 5px;
  background-color: #1F1F2F;
  color: #FFF;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: auto;
}
.box{
  width: 60%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.user-message {
  background-color: #313149;
  border-radius: 20px;
  border: 1px solid #7979AE;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: end;
  margin: 12px;
}

.bot-message {
  max-width: 60%;
  background-color: #313149;
  border-radius: 20px;
  border: 1px solid #7979AE;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 12px;
  display: flex;
  align-items: center;
  
}

.chatRobot{
  display: flex;
  align-items: center;
}
.chatUser{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.questionBox{
  text-align: center;
  padding: 20px;
  position: absolute;
  width: 73%;
  justify-content: end;
  bottom: 0;
}

.button {
  background-color: rgba(6, 190, 216, 0.2);
  color: white;
  padding: 10px 15px;
  margin: 7px 10px ;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.button:hover {
  background-color: rgba(6, 190, 216, 0.3);
}

.button:active {
  background-color: rgba(6, 190, 216, 0.1);
}

.chatBtn {
  background: linear-gradient(to right, #D1F793, #06BED8);
  color: white;
  padding: 10px 15px;
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.chatBtn:hover {
  background: linear-gradient(to left, #D1F793, #06BED8);
}

input{
  color: #FFF;
  display: flex;
  background-color: #64648b;
  border: 1px solid #06BED8;
  justify-content: center;
  width: 60%;
  height: 25px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 18px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin: 1px;
}


::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 3px;
}

.scroll-container {
  scrollbar-color: #888 #f1f1f1;
}

.scroll-container {
  scrollbar-width: thin;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.header {
  position: absolute; 
  top: 0;
  left: 20;
  width: 81%;
  height: 150px;
  background: linear-gradient(to top, transparent, #1F1F2F);
  z-index: 1;
}
.menuText {
  font-size: 15px;
  margin-left: 10px
}
.lowerthird {
  font-size: 12px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}
.foot {
  margin-top: 60px;
  font-size: 10px;
  color: gray;
  padding-left: 25px;
  padding-right: 25px;
}
.main{
  padding: 10px;
  padding-top: 30px
}
.icon img {
  width: 80px
}